*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.sidebar{
  display: flex;
  height: 100%;
  width: 200px;
  background-color: rgba(167, 167, 167, 0.121);
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 500;
  color: rgba(46, 106, 225, 0.707);
}

.sidebar ul{
  width: 200px;
  height: auto;
  align-self: center;
}

.sidebar ul .row{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: auto;
  padding: 10px 0px;
}

.sidebar ul .row:hover{
  cursor: pointer;
  color: rgb(46, 106, 225);
  background-color: rgb(255, 255, 255);
}

.navIcon{
  display: flex;
  justify-content: center;
  flex: 30%;
}
.navTitle{
  flex: 70%;
}

.big-grid{
  display: grid;
  grid-template-columns: 200px auto;
  height: 100vh;
}

.heroDashboard{
  display: grid;
  gap: 16px;
  align-items: center;
  margin: 0px 5%;
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 500;
}



